{% include 'main.html' %}
{% load static %}
<body>
    {% block content %}
    <div id="war-container">
        <div style="text-align: right; margin-right: 1px;">
            <form method="post" action="{% url 'reset_war' %}">
                {% csrf_token %}
                <button type="submit" class="buttons" id="reset-button">Reset Game</button>
            </form>
        </div>
        
        <div class="gamename">War Game</div>
        
        <div class="war-playboard">
            <div>
                <div class="war-hand" id="my-hand-count">My Hand: {{ my_hand }} cards</div>
                <img src="{% static my_card_image %}" class="war-card" id="my-first"> 
            </div>

            <div>
                <div class="war-hand" id="enemy-hand-count">Enemy Hand: {{ enemy_hand }} cards </div>
                <img src="{% static enemy_card_image %}" class="war-card" id="enemy-first">
            </div>
        </div>


        <div class="play-button-box">
                <button class="buttons" id="play-button" onclick="playNextCard()">Play Next Card</button>
        </div>
    </div>

    <script src="{% static 'js/play_button.js' %}"></script>
    <script src="{% static 'js/war_ajax.js' %}"></script>
</body>
{% endblock content %}